<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>   
        <nav>
            <ul>
                <li><a href="./HomePage" class="menu">Home</a></li>
                <li><a href="./signup" class="menu selected">Create Account</a></li>
                <li><a href="./viewUsers" class="menu">View Accounts</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <form method="post" action="/accounts/createNewAccount">
                <h1 class="h1-createUser">Create New Account</h1>
                <input type="text"  name="firstName" class="form-control" placeholder="First name">
                <input type="text"  name="lastName"  class="form-control" placeholder="Last name">
                <input type="email" name="email"     class="form-control" placeholder="Email">
                <input type="phone" name="phone"     class="form-control" placeholder="Phone Number">
                <button class="createAccount_btn" type="submit">Send</button>
            </form>
        </div>
    </div>
</body>
</html>